# Rule for the keyboard IronClad v3 with Via/QMK firmware
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="320f", ATTRS{idProduct}=="511e", MODE="0666"

# Polyglot Steno Keyboard - Serial access
SUBSYSTEM=="tty", ATTRS{idVendor}=="9000", ATTRS{idProduct}=="0003", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="9000", ATTRS{idProduct}=="0003", MODE="0666"
# With Javelin firmware
SUBSYSTEM=="tty", ATTRS{idVendor}=="9000", ATTRS{idProduct}=="400d", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="9000", ATTRS{idProduct}=="400d", MODE="0666"

# Polyglot Steno Keyboard - HID access
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="9000", ATTRS{idProduct}=="0003", MODE="0666"
KERNEL=="hiddev*", ATTRS{idVendor}=="9000", ATTRS{idProduct}=="0003", MODE="0666"
# With Javelin firmware
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="9000", ATTRS{idProduct}=="400d", MODE="0666"
KERNEL=="hiddev*", ATTRS{idVendor}=="9000", ATTRS{idProduct}=="400d", MODE="0666"
